body {
            font-family: 'Arial';
            padding: 0;
            background-color: #f4f4f4;
            width:98%;
            height:80%;
            
     }
        header img { margin-left:-1%;}

        main {margin-left:2%;
                width:96%;
                margin-right:2%;
                }
        footer {
            background-color: #1b5a8c;
            color: #fff;
            text-align: center;
            width: 100%;
            position:relative;
            height:40px; 
        }
		
		  .form-group {
            margin-bottom: 1em;
        }

        .help-block {
            color: #d9534f;
        }

        form {
            max-width:100%;
            height:100%;
            margin: 0 auto;
            background-color: #fff;
            padding: 2em;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
		
        .inline-fields {
            display: inline-block;
            margin-right: 10px; /* Ajusta el margen según sea necesario */
	        vertical-align: top;	 
            justify-content: center;
            align-items: center;	
 
        }
	    .mi-caja-de-texto {           
            height: 33px; /* Altura de la caja de texto en píxeles, porcentaje, etc. */
           
        }
		
	    .form-group div input {
        display: inline-block;
        margin-right: 10px;
       }
       